<div class="row">
  <div class="table-actions">
    <h2>Calendar Event Categories</h2>
    <button mat-raised-button color="primary" (click)="onCreateCategory()">Create Category</button>
  </div>
</div>
<mat-table [dataSource]="tableData">
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
    <mat-cell *matCellDef="let item">{{ item.name | toDisplayName }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="color">
    <mat-header-cell *matHeaderCellDef>Color</mat-header-cell>
    <mat-cell *matCellDef="let item">
      <span class="dot" [ngStyle]="{ backgroundColor: item.color }"></span>
      {{ item.color }}
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
    <mat-cell *matCellDef="let item">
      <div>
        <button mat-icon-button color="primary" (click)="onEditCategory(item)"><mat-icon>edit</mat-icon></button>
        <button mat-icon-button color="warn" (click)="onDeleteCategory(item)"><mat-icon>delete</mat-icon></button>
      </div>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
  <mat-row *matRowDef="let item; columns: columns"></mat-row>
</mat-table>
<mat-paginator
  [length]="records.length"
  [pageSize]="defaultPageSize"
  [pageSizeOptions]="pageSizeOptions"
  showFirstLastButtons
  (page)="onPageChange($event)"
></mat-paginator>
