$dot-size: 12px;

.table-actions {
  align-items: center;
  display: flex;
  justify-content: space-between;

  h2 {
    margin: 0;
  }
}

.dot {
  display: inline-block;
  margin-right: 15px;
  height: $dot-size;
  width: $dot-size;
}
