.table-actions {
  align-items: center;
  display: flex;
  justify-content: space-between;

  h2 {
    margin: 0;
  }
}

mat-table {
  mat-cell {
    a {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
