<div class="row">
  <div class="row header">
    <div class="container calendar-info">
      <h3>Categories</h3>
      <div *ngFor="let category of categories" class="category">
        <div class="row">
          <div class="dot" [ngStyle]="{ backgroundColor: category.color }"></div>
          <p>{{ category.name | toDisplayName }}</p>
        </div>
      </div>
      <h1>{{ selectedDate | calendarDate: calendarView + "ViewTitle":"en" }}</h1>
    </div>
    <mat-button-toggle-group class="actions">
      <mat-button-toggle
        mwlCalendarPreviousView
        [view]="calendarView"
        [(viewDate)]="selectedDate"
        (viewDateChange)="showEventsAccordion = false"
      >
        <mat-icon>arrow_left</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle mwlCalendarToday [(viewDate)]="selectedDate">Today</mat-button-toggle>
      <mat-button-toggle
        mwlCalendarNextView
        [view]="calendarView"
        [(viewDate)]="selectedDate"
        (viewDateChange)="showEventsAccordion = false"
      >
        <mat-icon>arrow_right</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <div>
    <mwl-calendar-month-view
      [activeDayIsOpen]="showEventsAccordion"
      [events]="events"
      [viewDate]="selectedDate"
      [refresh]="refreshCalendar"
      (dayClicked)="onDayClick($event)"
      (eventClicked)="onEventClick($event)"
    >
    </mwl-calendar-month-view>
  </div>
</div>
