<div class="row">
  <div class="row actions">
    <div class="container calendar-month">
      <h1>{{ selectedDate | calendarDate: calendarView + "ViewTitle":"en" }}</h1>
    </div>
    <div class="container calendar-view-btns">
      <button
        mat-mini-fab
        color="primary"
        mwlCalendarPreviousView
        [view]="calendarView"
        [(viewDate)]="selectedDate"
        (viewDateChange)="showEventsAccordion = false"
      >
        <mat-icon>arrow_left</mat-icon>
      </button>
      <button mat-raised-button color="primary" mwlCalendarToday [(viewDate)]="selectedDate">Today</button>
      <button
        mat-mini-fab
        color="primary"
        mwlCalendarNextView
        [view]="calendarView"
        [(viewDate)]="selectedDate"
        (viewDateChange)="showEventsAccordion = false"
      >
        <mat-icon>arrow_right</mat-icon>
      </button>
    </div>
  </div>
  <div>
    <mwl-calendar-month-view
      [activeDayIsOpen]="showEventsAccordion"
      [events]="events"
      [viewDate]="selectedDate"
      [refresh]="refreshCalendar"
      (dayClicked)="onDayClick($event)"
      (eventClicked)="onEventClick($event)"
    >
    </mwl-calendar-month-view>
  </div>
</div>
