.header {
  align-items: center;
  display: flex;
  margin-bottom: 10px;

  .calendar-info {
    h1 {
      margin: 14px 0 0 0;
    }

    h3 {
      margin: 0;
    }

    h1 {
      margin: 0;
    }

    button {
      margin-left: 10px;
    }
  }

  .actions {
    align-items: center;
    display: flex;
    width: 100%;
  }

  .container {
    padding: 5px 15px;
  }
}

.spinner {
  align-items: center;
  display: flex;
  justify-content: center;
}

/* Mobile */
@media only screen and (max-width: 600px) {
  .header {
    flex-wrap: wrap;
    justify-content: center;

    .calendar-info {
      width: 100%;

      h1,
      h3 {
        text-align: center;
      }

      h1 {
        font-size: 2em;
      }
    }

    .actions {
      justify-content: space-evenly;
    }
  }
}

/* Tablet */
@media only screen and (min-width: 601px) and (max-width: 1200px) {
  .header {
    align-items: flex-end;
    justify-content: space-between;

    .calendar-info {
      flex: 1 1 0;

      h1 {
        font-size: 2em;
      }
    }

    .actions {
      flex: 1 1 0;
      justify-content: flex-end;

      button {
        margin-left: 15px;
      }
    }
  }
}

/* Desktop */
@media only screen and (min-width: 1201px) and (max-width: 1400px) {
  .header {
    align-items: flex-end;
    justify-content: space-between;

    .calendar-info {
      flex: 1 1 0;

      h1 {
        font-size: 3em;
      }
    }

    .actions {
      flex: 1 1 0;
      justify-content: flex-end;

      button {
        margin-left: 15px;
      }
    }
  }
}

/* Large Desktop */
@media only screen and (min-width: 1401px) {
  .header {
    align-items: flex-end;
    justify-content: space-between;

    .calendar-info {
      flex: 1 1 0;

      h1 {
        font-size: 3em;
      }
    }

    .actions {
      flex: 1 1 0;
      justify-content: flex-end;

      button {
        margin-left: 15px;
      }
    }
  }
}
