<div class="row">
  <div class="row actions">
    <div class="container actions-left">
      <button
        mat-stroked-button
        color="primary"
        mwlCalendarPreviousView
        [view]="view"
        [(viewDate)]="openedDate"
        (viewDateChange)="isTodayOpen = false"
      >
        Previous
      </button>
      <button mat-stroked-button color="primary" mwlCalendarToday [(viewDate)]="openedDate">Today</button>
      <button
        mat-stroked-button
        color="primary"
        mwlCalendarNextView
        [view]="view"
        [(viewDate)]="openedDate"
        (viewDateChange)="isTodayOpen = false"
      >
        Next
      </button>
    </div>
    <div class="container actions-center">
      <h1>{{ openedDate | calendarDate: view + "ViewTitle":"en" }}</h1>
    </div>
  </div>
  <div>
    <mwl-calendar-month-view
      [viewDate]="openedDate"
      [events]="events"
      [activeDayIsOpen]="isTodayOpen"
      (dayClicked)="onDayClick($event)"
      (eventClicked)="onEventClick($event)"
    >
    </mwl-calendar-month-view>
  </div>
</div>
