@use '~@angular/material' as mat;
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming

// Plus imports for other components in your app.
@import "../node_modules/angular-calendar/css/angular-calendar.css";

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$br1-primary: mat.define-palette(mat.$indigo-palette);
$br1-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$br1-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$br1-theme: mat.define-light-theme(
  (
    color: (
      primary: $br1-primary,
      accent: $br1-accent,
      warn: $br1-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($br1-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
  padding: 2% 8%;
}

.row {
  width: 100%;
}

// .cdk-overlay-container {
//   position: static;

//   .cdk-overlay-backdrop {
//     background-color: transparent;
//   }

//   .cdk-global-overlay-wrapper {
//     align-items: start !important;
//     position: static;
//   }
// }
