<app-header></app-header>
<main class="container">
  <div class="row center">
    <div class="profile-picture">
      <img [src]="profilePicUrl$ | async" alt="Br1" />
    </div>
    <h2>{{ profile.firstname + " " + profile.lastname }}</h2>
    <mat-hint>{{ profile.description }}</mat-hint>
  </div>
  <nav mat-tab-nav-bar mat-align-tabs="left">
    <div *ngFor="let tab of tabs" [matTooltip]="getTabDisabledMessage(tab)" matTooltipPosition="above">
      <a
        #rla="routerLinkActive"
        mat-tab-link
        routerLinkActive
        [routerLink]="[tab.route]"
        [disabled]="tab.disabled"
        [active]="rla.isActive"
      >
        {{ tab.label }}
      </a>
    </div>
  </nav>
  <router-outlet></router-outlet>
</main>
