<header>
  <mat-toolbar>
    <!-- <span>Br1</span> -->
    <span class="spacer"></span>
    <button
      *ngIf="!(authService.authenticated$ | async); else signOut"
      mat-button
      aria-label="Sign in"
      (click)="onSignIn()"
    >
      Sign In
    </button>
    <ng-template #signOut>
      <button mat-button aria-label="Sign Out" (click)="onSignOut()">Sign Out</button>
    </ng-template>
  </mat-toolbar>
</header>
<main class="container">
  <div class="row center">
    <div class="profile-picture">
      <img src="assets/images/profilePic.jpeg" alt="Br1" />
    </div>
    <h2>{{ profile.firstname + " " + profile.lastname }}</h2>
    <mat-hint>{{ profile.description }}</mat-hint>
  </div>
  <nav mat-tab-nav-bar mat-align-tabs="left">
    <a
      *ngFor="let tab of tabs"
      mat-tab-link
      [disabled]="tab.disabled"
      [active]="tab.route === activeTab.route"
      (click)="onTabClick(tab)"
    >
      {{ tab.label }}
    </a>
  </nav>
  <router-outlet></router-outlet>
</main>
